# Import libraries

In [273]:
import pandas as pd

# Ex.1

a) Read in the aapl.csv, amzn.csv, fb.csv, goog.csv, and nflx.csv files.

In [274]:
fb = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/fb.csv', sep=',')
fb

           date        high         low        open       close    volume
0    2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1    2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2    2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3    2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4    2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  129.740005  123.019997  123.099998  124.059998  22066000
247  2018-12-26  134.240005  125.889999  126.000000  134.179993  39723400
248  2018-12-27  134.990005  129.669998  132.440002  134.520004  31202500
249  2018-12-28  135.919998  132.199997  135.339996  133.199997  22627600
250  2018-12-31  134.639999  129.949997  134.449997  131.089996  24625300

[251 rows x 6 columns]

In [275]:
aapl = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/aapl.csv', sep=',')
aapl

           date       high        low       open      close       volume
0    2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0
1    2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0
2    2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0
3    2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0
4    2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0
..          ...        ...        ...        ...        ...          ...
246  2018-12-24  37.887501  36.647499  37.037498  36.707500  148676800.0
247  2018-12-26  39.307499  36.680000  37.075001  39.292500  234330000.0
248  2018-12-27  39.192501  37.517502  38.959999  39.037498  212468400.0
249  2018-12-28  39.630001  38.637501  39.375000  39.057499  169165600.0
250  2018-12-31  39.840000  39.119999  39.632500  39.435001  140014000.0

[251 rows x 6 columns]

In [276]:
amzn = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/amzn.csv', sep=',')
amzn

           date         high          low         open        close    volume
0    2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010   2694500
1    2018-01-03  1205.489990  1188.300049  1188.300049  1204.199951   3108800
2    2018-01-04  1215.869995  1204.660034  1205.000000  1209.589966   3022100
3    2018-01-05  1229.140015  1210.000000  1217.510010  1229.140015   3544700
4    2018-01-08  1253.079956  1232.030029  1236.000000  1246.869995   4279500
..          ...          ...          ...          ...          ...       ...
246  2018-12-24  1396.030029  1307.000000  1346.000000  1343.959961   7220000
247  2018-12-26  1473.160034  1363.010010  1368.890015  1470.900024  10411800
248  2018-12-27  1469.000000  1390.310059  1454.199951  1461.640015   9722000
249  2018-12-28  1513.469971  1449.000000  1473.349976  1478.020020   8829000
250  2018-12-31  1520.760010  1487.000000  1510.800049  1501.969971   6954500

[251 rows x 6 columns]

In [277]:
goog = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/goog.csv', sep=',')
goog

           date         high          low         open        close   volume
0    2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000  1237600
1    2018-01-03  1086.290039  1063.209961  1064.310059  1082.479980  1430200
2    2018-01-04  1093.569946  1084.001953  1088.000000  1086.400024  1004600
3    2018-01-05  1104.250000  1092.000000  1094.000000  1102.229980  1279100
4    2018-01-08  1111.270020  1101.619995  1102.229980  1106.939941  1047600
..          ...          ...          ...          ...          ...      ...
246  2018-12-24  1003.539978   970.109985   973.900024   976.219971  1590300
247  2018-12-26  1040.000000   983.000000   989.010010  1039.459961  2373300
248  2018-12-27  1043.890015   997.000000  1017.150024  1043.880005  2109800
249  2018-12-28  1055.560059  1033.099976  1049.619995  1037.079956  1414800
250  2018-12-31  1052.699951  1023.590027  1050.959961  1035.609985  1493300

[251 rows x 6 columns]

In [278]:
nflx = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/nflx.csv', sep=',')
nflx

           date        high         low        open       close    volume
0    2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900
1    2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400
2    2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600
3    2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200
4    2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  250.649994  233.679993  242.000000  233.880005   9547600
247  2018-12-26  254.500000  231.229996  233.919998  253.669998  14402700
248  2018-12-27  255.589996  240.100006  250.110001  255.570007  12235200
249  2018-12-28  261.910004  249.800003  257.940002  256.079987  10992800
250  2018-12-31  270.100006  260.000000  260.160004  267.660004  13508900

[251 rows x 6 columns]

b) Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example);
this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.

In [279]:
fb['ticker'] = 'fb'
fb

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,fb
...,...,...,...,...,...,...,...
246,2018-12-24,129.740005,123.019997,123.099998,124.059998,22066000,fb
247,2018-12-26,134.240005,125.889999,126.000000,134.179993,39723400,fb
248,2018-12-27,134.990005,129.669998,132.440002,134.520004,31202500,fb
249,2018-12-28,135.919998,132.199997,135.339996,133.199997,22627600,fb
250,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,fb

In [280]:
aapl['ticker'] = 'aapl'
aapl

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,aapl
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,aapl
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,aapl
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,aapl
...,...,...,...,...,...,...,...
246,2018-12-24,37.887501,36.647499,37.037498,36.707500,148676800.0,aapl
247,2018-12-26,39.307499,36.680000,37.075001,39.292500,234330000.0,aapl
248,2018-12-27,39.192501,37.517502,38.959999,39.037498,212468400.0,aapl
249,2018-12-28,39.630001,38.637501,39.375000,39.057499,169165600.0,aapl
250,2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,aapl

In [281]:
amzn['ticker'] = 'amzn'
amzn

,date,high,low,open,close,volume,ticker
0,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,amzn
1,2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,amzn
2,2018-01-04,1215.869995,1204.660034,1205.000000,1209.589966,3022100,amzn
3,2018-01-05,1229.140015,1210.000000,1217.510010,1229.140015,3544700,amzn
4,2018-01-08,1253.079956,1232.030029,1236.000000,1246.869995,4279500,amzn
...,...,...,...,...,...,...,...
246,2018-12-24,1396.030029,1307.000000,1346.000000,1343.959961,7220000,amzn
247,2018-12-26,1473.160034,1363.010010,1368.890015,1470.900024,10411800,amzn
248,2018-12-27,1469.000000,1390.310059,1454.199951,1461.640015,9722000,amzn
249,2018-12-28,1513.469971,1449.000000,1473.349976,1478.020020,8829000,amzn
250,2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500,amzn

In [282]:
goog['ticker'] = 'goog'
goog

,date,high,low,open,close,volume,ticker
0,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,goog
1,2018-01-03,1086.290039,1063.209961,1064.310059,1082.479980,1430200,goog
2,2018-01-04,1093.569946,1084.001953,1088.000000,1086.400024,1004600,goog
3,2018-01-05,1104.250000,1092.000000,1094.000000,1102.229980,1279100,goog
4,2018-01-08,1111.270020,1101.619995,1102.229980,1106.939941,1047600,goog
...,...,...,...,...,...,...,...
246,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300,goog
247,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300,goog
248,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800,goog
249,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800,goog
250,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,goog

In [283]:
nflx['ticker'] = 'nflx'
nflx

,date,high,low,open,close,volume,ticker
0,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,nflx
1,2018-01-03,206.210007,201.500000,202.050003,205.050003,8591400,nflx
2,2018-01-04,207.050003,204.000000,206.199997,205.630005,6029600,nflx
3,2018-01-05,210.020004,205.589996,207.250000,209.990005,7033200,nflx
4,2018-01-08,212.500000,208.440002,210.020004,212.050003,5580200,nflx
...,...,...,...,...,...,...,...
246,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600,nflx
247,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700,nflx
248,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200,nflx
249,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800,nflx
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900,nflx

c) Append them together into a single dataframe. (concat)

In [284]:
faang = pd.concat([fb,aapl,amzn,nflx,goog])
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,fb
...,...,...,...,...,...,...,...
246,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300.0,goog
247,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300.0,goog
248,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800.0,goog
249,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0,goog
250,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog

d) Save the result in a CSV file called faang.csv. (to_csv)

In [285]:
faang.to_csv('faang.csv', index=True)

In [286]:
faang = pd.read_csv('faang.csv')
faang = faang.drop(['Unnamed: 0'],axis=1)
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,fb
...,...,...,...,...,...,...,...
1250,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300.0,goog
1251,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300.0,goog
1252,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800.0,goog
1253,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0,goog
1254,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog

e) With faang, use type conversion to cast the values of the date column into datetimes and the volume column into
integers. Then, sort by date and ticker.

In [287]:
faang.assign(
    date = lambda x:pd.to_datetime(x.date),
    volumn = lambda x: x['volume'].astype('int')
)
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,fb
...,...,...,...,...,...,...,...
1250,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300.0,goog
1251,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300.0,goog
1252,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800.0,goog
1253,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0,goog
1254,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog

In [288]:
faang.sort_values(by=['date', 'ticker'])
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,fb
...,...,...,...,...,...,...,...
1250,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300.0,goog
1251,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300.0,goog
1252,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800.0,goog
1253,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0,goog
1254,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,goog

f) Find the seven rows in faangwith the lowest value for volume

In [289]:
faang.sort_values(by='volume', ascending=True)
faang.head(7)

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,fb
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,fb
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,fb
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,fb
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,fb
5,2018-01-09,188.800003,187.100006,188.699997,187.869995,12393100.0,fb
6,2018-01-10,187.889999,185.630005,186.940002,187.839996,10529900.0,fb

# Ex. 2

a) Read in the covid19_cases.csv file.

In [290]:
covid = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/covid19_cases.csv', sep=',')
covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
43438,18/09/2020,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
43439,18/09/2020,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
43440,18/09/2020,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
43441,18/09/2020,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
43442,18/09/2020,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

b) Create a date column using the data in the dateRep column and the pd.to_datetime() function.

In [291]:
covid['date'] = pd.to_datetime(covid['dateRep'])
covid.head(15)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,date
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2.794184e+06,Europe,NaN,2020-01-01
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,3.569910e+05,Europe,NaN,2020-01-01
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,2.860872e+07,Asia,NaN,2020-01-01
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,3.445300e+04,Europe,NaN,2020-01-01
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,3.741104e+07,America,NaN,2020-01-01
5,01/01/2020,1,1,2020,0,0,Czechia,CZ,CZE,1.064980e+07,Europe,NaN,2020-01-01
6,01/01/2020,1,1,2020,0,0,Finland,FI,FIN,5.517919e+06,Europe,NaN,2020-01-01
7,01/01/2020,1,1,2020,0,0,Algeria,DZ,DZA,4.305305e+07,Africa,NaN,2020-01-01
8,01/01/2020,1,1,2020,0,0,Belarus,BY,BLR,9.452409e+06,Europe,NaN,2020-01-01
9,01/01/2020,1,1,2020,0,0,Vietnam,VN,VNM,9.646211e+07,Asia,NaN,2020-01-01
10,01/01/2020,1,1,2020,0,0,India,IN,IND,1.366418e+09,Asia,NaN,2020-01-01
11,01/01/2020,1,1,2020,0,0,Armenia,AM,ARM,2.957728e+06,Europe,NaN,2020-01-01
12,01/01/2020,1,1,2020,0,0,Croatia,HR,HRV,4.076246e+06,Europe,NaN,2020-01-01
13,01/01/2020,1,1,2020,0,0,Cases_on_an_international_conveyance_Japan,JPG11668,NaN,NaN,Other,NaN,2020-01-01
14,01/01/2020,1,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN,2020-01-01

c) Set the date column as the index and sort the index.

In [292]:
covid.sort_values(by='date', ascending=True)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,date
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN,2020-01-01
36,01/01/2020,1,1,2020,0,0,Singapore,SG,SGP,5804343.0,Asia,NaN,2020-01-01
37,01/01/2020,1,1,2020,0,0,Egypt,EG,EGY,100388076.0,Africa,NaN,2020-01-01
38,01/01/2020,1,1,2020,0,0,Azerbaijan,AZ,AZE,10047719.0,Europe,NaN,2020-01-01
39,01/01/2020,1,1,2020,0,0,Switzerland,CH,CHE,8544527.0,Europe,NaN,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42053,12/09/2020,12,9,2020,1526,87,Ecuador,EC,ECU,17373657.0,America,14.913383,2020-12-09
42054,12/09/2020,12,9,2020,5,0,Thailand,TH,THA,69625581.0,Asia,0.078994,2020-12-09
42055,12/09/2020,12,9,2020,571,7,Uzbekistan,UZ,UZB,32981715.0,Asia,16.812346,2020-12-09
42031,12/09/2020,12,9,2020,96,2,French_Polynesia,PF,PYF,279285.0,Oceania,168.644933,2020-12-09
42187,12/09/2020,12,9,2020,79,2,Aruba,AW,ABW,106310.0,America,933.120120,2020-12-09

d) Replace all occurrences of United_States_of_Americaand United_ Kingdom with USA and UK, respectively. Hint: the replace() method can be run on the dataframeas a whole.

In [293]:
covid['countriesAndTerritories'].replace({'United_States_of_America':'USA', 'United_Kingdom':'UK'}, inplace=True)

e) Using the countriesAndTerritoriescolumn, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.

In [294]:
covid[covid['countriesAndTerritories'].isin(['Argentina', 'Brazil', 'China', 'Colombia', 'India', 'Italy', 'Mexico'
    , 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA'])]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,date
10,01/01/2020,1,1,2020,0,0,India,IN,IND,1.366418e+09,Asia,NaN,2020-01-01
14,01/01/2020,1,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN,2020-01-01
21,01/01/2020,1,1,2020,0,0,Mexico,MX,MEX,1.275755e+08,America,NaN,2020-01-01
27,01/01/2020,1,1,2020,0,0,USA,US,USA,3.290649e+08,America,NaN,2020-01-01
29,01/01/2020,1,1,2020,0,0,Spain,ES,ESP,4.693706e+07,Europe,NaN,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43384,18/09/2020,18,9,2020,3395,21,UK,UK,GBR,6.664711e+07,Europe,61.822634,2020-09-18
43411,18/09/2020,18,9,2020,7568,187,Colombia,CO,COL,5.033944e+07,America,203.361408,2020-09-18
43418,18/09/2020,18,9,2020,43567,831,USA,US,USA,3.290649e+08,America,159.179230,2020-09-18
43428,18/09/2020,18,9,2020,1583,13,Italy,IT,ITA,6.035955e+07,Europe,33.321987,2020-09-18
43434,18/09/2020,18,9,2020,14389,90,Spain,ES,ESP,4.693706e+07,Europe,300.510940,2020-09-18

f) Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case
 counts (the cases column). Be sure to fill in NaNvalues with 0.

In [295]:
pivot = covid.pivot(index = 'date', columns='countriesAndTerritories', values='cases')
pivot

countriesAndTerritories,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Republic_of_Tanzania,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-02,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-03,0.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2020-01-04,25.0,20.0,132.0,6.0,0.0,0.0,0.0,0.0,39.0,5.0,...,0.0,0.0,6.0,24.0,0.0,6.0,NaN,NaN,0.0,1.0
2020-01-05,222.0,7.0,158.0,2.0,0.0,0.0,0.0,143.0,82.0,0.0,...,0.0,0.0,13.0,44.0,2.0,0.0,0.0,0.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-05,285.0,4.0,168.0,1.0,0.0,0.0,0.0,245.0,146.0,0.0,...,0.0,0.0,4.0,91.0,8.0,0.0,0.0,5.0,0.0,1.0
2020-12-06,747.0,44.0,105.0,0.0,5.0,0.0,0.0,1373.0,612.0,0.0,...,0.0,0.0,0.0,124.0,76.0,0.0,0.0,31.0,0.0,12.0
2020-12-07,85.0,93.0,470.0,0.0,25.0,0.0,0.0,3367.0,577.0,0.0,...,0.0,14.0,1.0,307.0,375.0,0.0,0.0,9.0,0.0,40.0
2020-12-08,215.0,140.0,492.0,0.0,7.0,0.0,0.0,7369.0,160.0,87.0,...,0.0,92.0,21.0,670.0,2133.0,20.0,0.0,0.0,65.0,70.0
2020-12-09,34.0,161.0,264.0,43.0,125.0,0.0,0.0,11905.0,177.0,79.0,...,0.0,0.0,14.0,571.0,840.0,1.0,0.0,4.0,109.0,26.0