In [18]:
import pandas as pd

In [19]:
nyc2018 = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/nyc_weather_2018.csv', sep=',')
nyc2018

                      date datatype            station attributes  value
0      2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
...                    ...      ...                ...        ...    ...
78775  2018-12-31T00:00:00     WDF5  GHCND:USW00094789       ,,W,  130.0
78776  2018-12-31T00:00:00     WSF2  GHCND:USW00094789       ,,W,    9.8
78777  2018-12-31T00:00:00     WSF5  GHCND:USW00094789       ,,W,   12.5
78778  2018-12-31T00:00:00     WT01  GHCND:USW00094789       ,,W,    1.0
78779  2018-12-31T00:00:00     WT02  GHCND:USW00094789       ,,W,    1.0

[78780 rows x 5 columns]

In [20]:
weather_stations = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/weather_stations.csv', sep=',')
weather_stations

,id,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6
...,...,...,...,...,...
274,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.734170,-73.416940,24.7
275,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",40.778980,-73.969250,42.7
276,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",40.850000,-74.061390,2.7
277,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",41.062360,-73.704630,111.9
278,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.764010,3.4

In [21]:
new_nyc = nyc2018[nyc2018.datatype.str.contains("SNOW")]
# new_nyc

In [22]:
# new_weather_station = weather_stations[weather_stations.station_name.str.contains("NJ US")]
# new_weather_station

In [34]:
df = nyc2018.merge(weather_stations.rename(columns={'id':'station'}), on='station')
df

,date,datatype,station,attributes,value,name,latitude,longitude,elevation
0,2018-01-01T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
1,2018-01-02T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,2018-01-03T00:00:00,PRCP,GHCND:US1CTFR0039,",,N,",0.0,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
3,2018-01-05T00:00:00,DAPR,GHCND:US1CTFR0039,",,N,",2.0,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
4,2018-01-05T00:00:00,MDPR,GHCND:US1CTFR0039,",,N,",15.5,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
...,...,...,...,...,...,...,...,...,...
78775,2018-12-27T00:00:00,PRCP,GHCND:US1NYQN0029,",,N,",0.0,"QUEENS 2.1 NE, NY US",40.748246,-73.765371,24.7
78776,2018-12-28T00:00:00,PRCP,GHCND:US1NYQN0029,",,N,",4.8,"QUEENS 2.1 NE, NY US",40.748246,-73.765371,24.7
78777,2018-12-29T00:00:00,PRCP,GHCND:US1NYQN0029,",,N,",29.0,"QUEENS 2.1 NE, NY US",40.748246,-73.765371,24.7
78778,2018-12-30T00:00:00,PRCP,GHCND:US1NYQN0029,",,N,",0.3,"QUEENS 2.1 NE, NY US",40.748246,-73.765371,24.7
78779,2018-12-31T00:00:00,PRCP,GHCND:US1NYQN0029,",,N,",0.0,"QUEENS 2.1 NE, NY US",40.748246,-73.765371,24.7

In [24]:
fb = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/fb.csv', sep=',')
fb

           date        high         low        open       close    volume
0    2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1    2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2    2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3    2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4    2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  129.740005  123.019997  123.099998  124.059998  22066000
247  2018-12-26  134.240005  125.889999  126.000000  134.179993  39723400
248  2018-12-27  134.990005  129.669998  132.440002  134.520004  31202500
249  2018-12-28  135.919998  132.199997  135.339996  133.199997  22627600
250  2018-12-31  134.639999  129.949997  134.449997  131.089996  24625300

[251 rows x 6 columns]

In [25]:
fb['tmr_volume'] = fb.volume.shift(1)
fb

,date,high,low,open,close,volume,tmr_volume
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,NaN
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,18151900.0
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,16886600.0
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,13880900.0
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,13574500.0
...,...,...,...,...,...,...,...
246,2018-12-24,129.740005,123.019997,123.099998,124.059998,22066000,56901500.0
247,2018-12-26,134.240005,125.889999,126.000000,134.179993,39723400,22066000.0
248,2018-12-27,134.990005,129.669998,132.440002,134.520004,31202500,39723400.0
249,2018-12-28,135.919998,132.199997,135.339996,133.199997,22627600,31202500.0
250,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,22627600.0

In [26]:
new = fb.assign(ratio = lambda x: fb['volume'] / fb['tmr_volume'])
new

,date,high,low,open,close,volume,tmr_volume,ratio
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,NaN,NaN
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,18151900.0,0.930294
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,16886600.0,0.822007
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500,13880900.0,0.977927
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700,13574500.0,1.325625
...,...,...,...,...,...,...,...,...
246,2018-12-24,129.740005,123.019997,123.099998,124.059998,22066000,56901500.0,0.387793
247,2018-12-26,134.240005,125.889999,126.000000,134.179993,39723400,22066000.0,1.800208
248,2018-12-27,134.990005,129.669998,132.440002,134.520004,31202500,39723400.0,0.785494
249,2018-12-28,135.919998,132.199997,135.339996,133.199997,22627600,31202500.0,0.725185
250,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,22627600.0,1.088286

In [27]:
new.sort_values(by='ratio', ascending=False)

,date,high,low,open,close,volume,tmr_volume,ratio
8,2018-01-12,181.479996,177.399994,178.059998,179.369995,77551300,9588600.0,8.087865
52,2018-03-19,177.169998,170.059998,177.009995,172.559998,88140100,24403400.0,3.611796
142,2018-07-26,180.130005,173.750000,174.889999,176.259995,169803700,58954200.0,2.880265
182,2018-09-21,167.250000,162.809998,166.639999,162.929993,45994800,18936000.0,2.428961
57,2018-03-26,161.100006,149.020004,160.820007,160.059998,126116600,53609700.0,2.352496
...,...,...,...,...,...,...,...,...
183,2018-09-24,165.699997,160.880005,161.029999,165.410004,19222800,45994800.0,0.417934
246,2018-12-24,129.740005,123.019997,123.099998,124.059998,22066000,56901500.0,0.387793
80,2018-04-27,177.100006,172.600006,176.809998,173.589996,29804700,77556900.0,0.384295
143,2018-07-27,179.929993,173.000000,179.869995,174.889999,60073700,169803700.0,0.353783
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,NaN,NaN

In [28]:
earthquakes = pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/earthquakes.csv', sep=',')
earthquakes

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,...,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,...,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [29]:
data = earthquakes[earthquakes['magType'].str.contains('ml', na=False)]
data

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
6,NaN,NaN,20280432,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280432,",1.70,ml,...,",ak,",automatic,1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539473596465,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9325,NaN,NaN,38063983,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.042720,NaN,56.0,",ci38063983,",0.51,ml,...,",ci,",reviewed,1537230344890,"M 0.5 - 4km WNW of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537290279205,https://earthquake.usgs.gov/earthquakes/eventp...
9326,NaN,NaN,38063975,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.036520,NaN,26.0,",ci38063975,",1.82,ml,...,",ci,",reviewed,1537230230260,"M 1.8 - 4km W of Julian, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537276829920,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,...,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [30]:
binned = pd.cut(data.mag, bins=[0,1,2,3,4], labels=['low', 'medium', 'high', 'dangerous'])
binned

0          medium
1          medium
2       dangerous
3             low
6          medium
          ...
9325          low
9326       medium
9328          low
9330       medium
9331          low
Name: mag, Length: 6803, dtype: category
Categories (4, object): ['low' < 'medium' < 'high' < 'dangerous']

In [31]:
binned.value_counts()

medium       3105
low          2207
high          862
dangerous     122
Name: mag, dtype: int64

In [32]:
weather_by_station= pd.read_csv('C:/Users/toduc/OneDrive - National Economics University/Desktop/NEU/Machine Learning/Visualization/Data/weather_by_station.csv', sep=',')
weather_by_station

,date,datatype,station,value,station_name
0,2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US"
1,2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
2,2018-01-01,SNOW,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
3,2018-01-01,PRCP,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
4,2018-01-01,SNOW,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
...,...,...,...,...,...
80251,2018-12-31,WDF5,GHCND:USW00094789,130.0,"JFK INTERNATIONAL AIRPORT, NY US"
80252,2018-12-31,WSF2,GHCND:USW00094789,9.8,"JFK INTERNATIONAL AIRPORT, NY US"
80253,2018-12-31,WSF5,GHCND:USW00094789,12.5,"JFK INTERNATIONAL AIRPORT, NY US"
80254,2018-12-31,WT01,GHCND:USW00094789,1.0,"JFK INTERNATIONAL AIRPORT, NY US"
80255,2018-12-31,WT02,GHCND:USW00094789,1.0,"JFK INTERNATIONAL AIRPORT, NY US"

In [36]:
weather_by_station.date_index = pd.DatetimeIndex(pd.to_datetime(weather_by_station.date, format='%Y/%m/%d'))
weather_by_station['month'] = weather_by_station.date_index.month

C:\Users\toduc\AppData\Local\Temp/ipykernel_6040/1952747352.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  weather_by_station.date_index = pd.DatetimeIndex(pd.to_datetime(weather_by_station.date, format='%Y/%m/%d'))

In [37]:
weather_by_station.groupby(['month', 'station']).value.mean()

month  station
1      GHCND:US1CTFR0039      9.762857
       GHCND:US1NJBG0003     14.255556
       GHCND:US1NJBG0015      6.207692
       GHCND:US1NJBG0017     11.339506
       GHCND:US1NJBG0018     14.388889
                               ...
12     GHCND:USW00054787    185.034708
       GHCND:USW00094728      2.732143
       GHCND:USW00094741    179.765398
       GHCND:USW00094745    195.080069
       GHCND:USW00094789     41.066298
Name: value, Length: 1153, dtype: float64

In [39]:
snow = weather_by_station[weather_by_station.datatype.str.contains('SNOW')]
snow.groupby(['month', 'station']).station.value_counts()

month  station            station
1      GHCND:US1CTFR0039  GHCND:US1CTFR0039     2
       GHCND:US1NJBG0003  GHCND:US1NJBG0003     1
       GHCND:US1NJBG0015  GHCND:US1NJBG0015    20
       GHCND:US1NJBG0017  GHCND:US1NJBG0017    25
       GHCND:US1NJBG0018  GHCND:US1NJBG0018    27
                                               ..
12     GHCND:USC00308577  GHCND:USC00308577    31
       GHCND:USW00014732  GHCND:USW00014732    31
       GHCND:USW00014734  GHCND:USW00014734    31
       GHCND:USW00094728  GHCND:USW00094728    31
       GHCND:USW00094789  GHCND:USW00094789    31
Name: station, Length: 841, dtype: int64